.container-blog{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.container-blog img{
    width: 100%;
}

.forgot_password a{
  color: #000000;
  font-size: 14px;
}

.forgot_password a:hover{
  color: #dc0345;
  font-size: 14px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  }
.dropdown:hover .dropdown-menu {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  margin-top: 85px; }
  @media only screen and (max-width: 767px) {
    body {
      margin-top: 80px; } }